
.books{
  display: flex;
  flex-wrap: wrap;
}
.info {
  width: max-content;
  margin: 0.6rem 0.7rem;
  text-align: center;
  padding: 0.5rem;
  color:rgb(21, 21, 21);    
  border: 0.3px solid var(--color-main-gray);
  display: flex;
  justify-content: center;

  img {
    height: 150px;
  }
  .content {
    width: 300px;
    position: relative; 
    .title > p{
      font-size: 1rem;
      font-weight: 600;
    }   
    .author > p {
      margin-bottom: 1rem;
      font-size: 0.8rem;

    }
  }
 
  .description-and-info {
    display: flex;
  }
  .description, .books-info {
    .open-text{
      text-decoration: underline;
      color: var(--color-main-green);
      cursor: pointer;

    }

    .all-description > p{
      width: 290px;
      padding-left: 1rem;
    }
    .close-description{
      text-decoration: underline;
      color: var(--color-main-blue);
      cursor: pointer;
    }
  }





  .managePanel{
    display: flex;
    flex-direction: column;

    .editButton, .deleteButton{
      padding: 0.5rem 1rem;
    }
  }
 
}
@media screen and (max-width:900px) {
  .info{
    margin: 1rem 0.3rem;
    .all_books{
      .book-cover{
       img{
        height: 130px;
       }
      }
    }
    .content{
    width: 220px;
    padding: 0 1rem;
      .title > p{
        font-size: 0.8rem;
      }
    }

  }
}

