.pageBooks2, .novels-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


  .pageBooks2 
    .books-icons {
      width: 150px;
    
    }

    .card-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: left;
      position: relative;

      
      button {
          margin-top: 7px;
            padding: 0.5rem 0.5rem;
            width:min-content;
            text-align: center;
            margin-top: 1rem;
            background-color: var(--color-main-green);
            border: none;
            border-radius: 0.5rem; 
            color: rgb(108, 108, 108);
            cursor: pointer;
   
      }
      .card {
         padding: 0.5rem;
         width: 100%;
         height:240px;           
         box-shadow: 5px 5px 10px #ccc;
         align-items: left;
         display: flex;
         flex-direction: column;
         justify-content: center;
        
       }

       .card > img {
          width: 70%;
          height: 80%;
          max-height:220px;
                 
        }

        .image {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          
        }
        
        .favorite-icon {
          position: absolute;
          top: -90;
          cursor: pointer;
          padding-left: 0px;
          font-size: 1.4rem;
        }
        .card h5 {  
          margin: 0;
          padding: 0;
          font-size: 0.7rem;
          font-weight: 700;
         
        }
        
        .card  h6 {
          font-weight: 300;
          padding-top: 5px;
          margin: 0;
          color: rgb(73, 11, 73);
         
         
        }
        
        .card  h4 {
          margin:0;
          padding-top: px;
          font-weight: 100;
          font-size: 10px;
       
        }

        .artikel-details {
          width: auto;
          height: auto;
          margin: 0 auto;
          a {text-decoration: none;}
          
          
        }
    }
    
    ul, .ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      list-style-type: none;
      
    }
    
    li, .li {
      padding: 10px;
      width: 200px;
      max-width:250px;
      max-height: 350px;
      list-style-type: none;

    }
    
    .edit-delete-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap:15px;        
    }

 
    .favorite-icon {
      position: absolute;
      top: 20px;
      right: 15px;
      cursor: pointer;
      
    }




    // .content {
    //   .medien-shadow-box {
    //       position: relative;
    //       display: flex;
    //       flex-direction: column;
    //       justify-content: center;
    // align-items: center;
    //       width:600px;
    //       height:350px;
    //       border-bottom-right-radius: 120px;
    //       box-shadow: 5px;
    //       box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 10px 0px;

          .favorite-icon-single-book {
            position: absolute;
            top: 0px;
            right: 15px;
            cursor: pointer;
            
          }
        
        
      
      

} 

.createBookPage {
  display: flex;
  justify-content: center;
  flex-direction: row;
      input {
        border: 1px solid rgb(83, 26, 83);
        padding: 5px;
        margin:10px;
      }
      .container {
        display: flex;
        flex-direction: row;
    
    .buttonRow {
      justify-content: center;
      display: flex;

      .classicBtn { border-radius: 10px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {

.createBookPage {
  .container {
    display: flex;
    flex-direction: column;
  }}
}

.editBook {
  input {
  padding: 5px;
  margin:10px;
  }

  .buttonRow {
    justify-content: center;
    display: flex;

    .classicBtn { border-radius: 10px;
    }
  }
}

.heart {
  margin:0;
  padding:0
}


.wishListPage {
  width: 80%;
    justify-content: center;
    align-items: center;
    margin:0;
    
  h1 {
    display: block;
    position: relative;
    font-size: 1.5rem;
    margin: 20px 0;
    }
    
    
    
  .container-wishpage {
    display: flex;
    flex-direction: column;
        
   
    li {
      list-style: none; /* removes bullet points */
      padding-bottom:20px;
      padding-top: 20px;
      border-bottom: 2px solid #ccc;
      
    }

    .card-wishlist {
      display: flex;
      box-sizing: border-box;
      display: flex;
      
      align-items: center;
     
      
        .element-button-primary {
          height:35px;
          border: none;
          background-color: rgb(226, 226, 226);
          padding: 0 15px;
          border-radius: 15px;
        }

        .element-button-primary:hover {
          background-color: rgb(179, 179, 179);;
        }

        .delete-bin {
          background-color:  rgb(226, 226, 226);
          border-radius: 50%;
          width:35px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;  
          border: none;      
        }
        .delete-bin:hover {
          background-color: rgb(179, 179, 179);;
        }
    }

    .book-author {
      margin: 10px 0;
    }
    .book-price {
      margin: 10px 0;
    }

    @media screen and (max-width: 414px)
     { .image {
      margin-right: 15px;
      padding: 0;
      height: 190px;
      padding: 10px;
      box-shadow: 5px 5px 10px #ccc;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }}

    @media screen and (min-width: 414px)
    { 
    .image {
      margin-right: 40px;
      height: 190px;
      padding: 10px;
      box-shadow: 5px 5px 10px #ccc;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
      img {
        margin:5px 10px;
      }

      
    }
    .image:hover {
      box-shadow: 5px 5px 20px rgb(105, 105, 105);
    }

    .button-gruppe {
      display: flex;
      gap: 15px;
      justify-content: left;
      padding-top: 30px;
    }
  }

  .button-go-to-books{
    height:35px;
    border: none;
    background-color: rgb(226, 226, 226);
    padding: 0 15px;
    border-radius: 15px;
  }

  .button-go-to-books:hover {
    background-color: rgb(179, 179, 179);
    cursor: pointer;
  }
}




// .heart-icon-container {
//   position: relative;
//   display: inline-block;
//   .heart-icon {
//   font-size: 1.5rem;
// }

// .favorite-count {
//   position: absolute;
//   top: 0.6rem;
//   right: .25rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 1rem;
//   height: 1rem;
//   border-radius: 50%;
//   background-color:green;
//   color: white;
//   font-size: 0.8rem;
//   font-weight: bold;
// }
// }


