.createComment {
form {
    border: 2px solid #ccc;
    padding: 10px;
    justify-content: center;
   
    display: flex;
    flex-direction: column;
}

input, textarea {
    border: 2px solid #ccc;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    font-size: 12px;

}

}

.single-comment {
    border-bottom: 2px solid #ccc;
}

p {
    font-size: .9rem;
    margin: 0 0 7px 0;
}
h4 {
    margin:6px 0 10px 0;
}

.delete-comment{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 0px;
    margin-bottom: 5px;
    
    button {
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;}
}