.createComment {
form {
    border: 2px solid #ccc;
    padding: 10px;
    justify-content: center;
   
    display: flex;
    flex-direction: column;
}

input, textarea {
    border: 2px solid #ccc;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    font-size: 12px;

}



}

.single-comment {
    border-bottom: 2px solid #ccc;
}

p {
    font-size: .9rem;
    margin: 0 0 7px 0;
}
h4 {
    margin:6px 0 10px 0;
}