.carousel {
  margin-top: 0.5rem;

  .container-corousel {
    .content {
      display: flex;
      flex-direction: column;
    }
  }
  //Corousel 1
  .slide1 {
    height: 550px;
    background: url("https://cdn.pixabay.com/photo/2020/06/29/06/03/woman-5351572_1280.png")
      no-repeat top;
    background-size: cover;
    background-position-y: 3%;

    .content-slide1 {
      margin-right: 4rem;
    }
  }

  // Corousel2
  .slide2 {
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-rows: 1fr;
    grid-template-areas: "col1 col2";

    background: url("https://i.ibb.co/WHS2Xdw/flower-4985011-1920.png")
      no-repeat center;
    background-size: cover;

    .spring-books {
      margin: 0 3rem;
      grid-area: col1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "col1 col2 col3"
        "col4 col5 col6";

      .spring-books-all {
        overflow: hidden;
        width: 150px;
        height: 225px;
        border-radius: 7px;
        box-shadow: var(--box-shadow-mai-brown);
        padding: 1rem;
        margin: 1rem 0;
      }

      .box {
        display: flex;
        justify-content: center;
      }

      .spring-book1 {
        grid-area: col1;
      }

      .spring-book2 {
        grid-area: col2;
      }
      .book-cover3 {
        grid-area: col3;
      }
      .book-cover4 {
        grid-area: col4;
      }
      .book-cover5 {
        grid-area: col5;
      }
      .book-cover6 {
        grid-area: col6;
      }
    }

    .content-slide2 {
      grid-area: col2;
      justify-content: center;
      align-items: center;
      text-align: left;
      color: var(--color-main-light);

      p {
        text-shadow: 3px 2px 4px rgba(175, 175, 175, 0.825);
        font-size: 1.5rem;
        width: 20rem;
        letter-spacing: 0.2rem;
        color: rgba(255, 255, 255, 0.904);
      }
      .p2 {
        padding: 0 0.7rem;
      }
    }
  }

    @media screen and (max-width: 1200px) {
        .slide2 {
            grid-template-columns: 1fr 35%;
            grid-template-rows: 1fr;
            grid-template-areas: "col1 col2";
            height: 400px;
        }

        .spring-books {
            grid-area: col1;
            margin: 1rem 3rem;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
            "col1 col2"
            "col3 col4";

            .box {
                .spring-books-all {
                    height: 150px;
                    width: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 1rem 2.5rem;
                }
        
                img {
                    height: 125px;
                    width: auto;

                }
            }
            

        }       
        .content-slide2 {
        padding-right: 3.5rem;
        grid-area: col2;
        text-align: center;
        align-items: center;
        margin-top: 1rem;
        }

        p, .p2 {
        font-size: 0.7rem;
        }
    }

    @media screen and (max-width: 1000px) {

        .slide2 {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "row1"
            "row2"
            ;

            .content-slide2{
                grid-area: row2;
                text-align: center;
                margin: 0;
                padding: 0;
                padding-bottom: 2.5rem;
                p{
                    font-size: 1rem;
                }
            }
            .spring-books {
                margin-top: 1.5rem;
                grid-area: row1;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr;

                .box6{
                    display: none;
                }
            }
        }      
    }

    @media screen and (max-width: 900px) {

        .slide2 {
            height: 300px;

            .content-slide2{
                padding-bottom: 1rem;
                button{
                    padding:  0.4rem 2rem;
                    font-size: 0.7rem;
                }
            }
            .spring-books {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                .box {
                    .spring-books-all {
                        height: 120px;
                        width: auto;
                        margin: 0.6rem 2rem;
                        padding: 2rem 0.6rem;
                    }
            
                    img {
                        height: 110px;
                        width: auto;
                        padding: 0.4rem 0;
    
                    }
                }
            }
        }      
    }

    @media screen and (max-width: 700px) {
       .slide2{
            .spring-books {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                .box {
                    .spring-books-all {
                        height: 90px;
                        width: auto;
                        margin: 0.6rem 0;
                    }
            
                    img {
                        height: 90px;
                        width: auto;
                    }
                }
            }
       }
    }
    @media screen and (max-width: 550px) {
        .slide2{
            height: 250px;
            .content-slide2{
                p{
                    font-size: 0.7rem;
                }
                .btn{
                    padding:  0.3rem 1.5rem;
                    font-size: 0.7rem;
                }
            }
             .spring-books {
                 grid-template-columns: 1fr 1fr 1fr 1fr;
                 .box5 {
                    display: none;
                 }
             }
        }
     }

     @media screen and (max-width: 455px) {
        .slide2{
            .content-slide2{
                padding-bottom: 2.5rem;
            }
             .spring-books {
                 grid-template-columns: 1fr 1fr 1fr;
                 .box4 {
                    display: none;
                 }
             }
        }
     } 
}

@media screen and (max-width: 1200px) {
.carousel {
    height: 400px;
}
}

@media screen and (max-width: 900px) {
.carousel{
    height: 300px;
}
}
@media screen and (max-width: 550px) {
    .carousel{
        height: 250px;
    }
    }

