
.footer{
    background-color: #ffffff;
    color: var(--color-main-blue);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .footer-container{
        margin: 0.5rem 1.3rem;
        a{
            text-decoration: none;

        }
    }
}