.editForm {
    padding: 10px;
    display: flex;
    justify-content: center;

    fieldset {
        padding: 1.7rem;
        width: 45%;
    }

    legend {
        color: rgb(69, 104, 69);
    }

    label {
        margin-left: 0.7rem;
    }

    input {
        line-height: 2rem;
        margin: 0.2rem 0.7rem;
        color: rgba(0, 0, 0, 0.685);
        width: 300px;
        margin-bottom: 1.2rem;

        &:focus {
            border-color: var(--color-main-blue);
            outline: 1px solid var(--color-main-blue);
            border-radius: 2px;
        }
    }

    .editForm button {
        margin: 0.2rem 0.7rem;
        padding: 0.5rem;
        color: green;
    }


}