.editForm {
    padding: 10px;
    
    fieldset {
        padding: 1.7rem;
        width: 45%;
    }
    legend {
        color: green;
    }
    label{
        margin-left: 0.7rem;
    }
    
    input {
        line-height: 2rem;
        margin: 0.2rem 0.7rem;
        color: rgba(0, 0, 0, 0.685);
        width: 300px;
        margin-bottom: 1.2rem;
    }
    .editForm button {
        margin: 0.2rem 0.7rem;
        padding: 0.5rem;
        color: green;
    }
    
    
}
