
.container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 196, 203);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgb(255, 255, 255);
    // background-image: linear-gradient(79deg, #e8c7fd, #e9b6e0 48%, #c3f8ff);
    // background-color:lightslategray;

    .register-form, .login-form{
      display: flex;
      flex-direction: column;
     
      label {
        padding: 0.25rem 0;
        flex: 1;
        
      }

      input {
        margin: 0.5rem 0;
        padding: 1rem;
        border: none;
        border-radius: 10px;
        width: 300px;
        flex: 2;
      }
    }
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: left;

    .signin-container {
      display: flex;
      flex-direction: column;
        justify-content: center;
        text-align: center;
      }}

    .auth-form-container{
        display: flex;
        flex-direction: column;
        align-items: center;


   
        .errmsg {
          background-color: rgb(255, 219, 219);
          color: rgb(247, 76, 76);
          max-width: 450px;
          font-size: 0.8em;
          font-weight: bold;
          padding: 0.5rem;
          margin-bottom: 0.5rem;  
          border-radius: 40px;
        }

        .errMsg-container {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .message {
          background-color: rgb(255, 219, 219);
          color: rgb(247, 76, 76);
          border-radius: 10px;
          margin: 5px;
        }

        
      }
      
      @media screen and (min-width: 600px) {
        .auth-form-container {
          padding: 1.5rem 1rem;
          border: 1px solid white;
          border-radius: 10px;
          margin: 0.5rem;
        } 
      }    
      
      .btn {
        padding: 0.5rem 2.5rem;
        width: max-content;
        text-align: center;
        margin-top: 1rem;
        background-color: var(--color-main-green);
        border: none;
        border-radius: 2rem; 
        color: rgb(108, 108, 108);
        cursor: pointer;
    }
    
      .btn-login, .link-btn {
        border: none;
        background-color: white;
        padding: 14px;
        border-radius: 10px;
        cursor: pointer;
      }

      .btn-register {
        border: none;
        background-color: white;
        padding: 14px;
        border-radius: 10px;
        cursor: pointer;
      }
      
      .link-btn {
        background: none;
        color: white;
        text-decoration: underline;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .register-link, .login-link > p{
        padding-top: 1rem ;
       
      }

      .login-link {
        display: flex;
        flex-direction: column;

      }
  }