.new-releases {
    padding: 1.5rem 0;
    margin-top: 1rem;

    .title{
        padding-top: 1.3rem;
        text-align: center;
        overflow: hidden;
        color: var(--color-main-gray-medium);

        span{
            display: inline-block;
            vertical-align: middle;
            background-color: #FFFFFF;
            width: 200px;
            font-size: 1.4rem;
            font-weight: lighter;
            letter-spacing: 0.2rem;
        }

    }
    .title:before,
    .title:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 2px;
        background-color: var(--color-main-gray);
        position: relative;
    }

    .title:before {
        margin-left: -100%;
    }
    .title:after {
        margin-right: -100%;
    }

    .link-to-books{
        margin-top: 0.4rem;
        text-align: center;
        font-size: 0.7rem;
        
        .link-new-books{
            color: var(--color-main-green);

        }
    }


    .carousel-slider{
        height: 250px;

    }
    .carousel-new-releases{
        .control-dots{
            display: none;
        }
        .slider-wrapper{
            margin-top: 2rem;
        }

        height: 250px;
        .container-new-releases{
            .slide{
                height: 210px;
                overflow: hidden;
                margin-left: 10px;
                cursor: pointer;
                img{
                    height: 180px;
                    width: auto;
                    box-shadow: var(--box-shadow-mai-brown);
                    

                }
            }
        }
    }
    
}