@import '../style/formPage.scss';
@import '../style/navbar.scss';
@import '../style/booksPage.scss';
@import '../style/login-register.scss';
@import '../style/corousel.scss';
@import '../style/book.scss';
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');



:root {
 // --color-main-blue: #2f3754;
  --color-main-blue: #59558a;

  --color-main-blue-medium: #484287;
  --color-main-blue-light: #9eacdd;
  --color-main-green: #b9cc4cce;
  --color-main-light: #f2f4f8; 
  --color-main-gray: #e6e0e0d8;
  --color-opasity-white: rgba(0, 0, 0, 0.177);
  --box-shadow-mai-brown: 2px 5px 10px rgba(65, 44, 25, 0.394);
  --color-main-gray: #e6e0e0d8;
  --color-main-light-opacity: #f2f4f883;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;

  @media screen and (max-width: 1200px){
    font-size: 0.9rem;  
   }
}



.App {
  margin: 0 8%;
  min-height: 100vh;

  body {
    background-color: rgb(245, 245, 245);
    color: rgb(50, 50, 50);
  }

  .btn {
    padding: 0.5rem 2.5rem;
    width: max-content;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-main-green);
    border: none;
    border-radius: 2rem; 
    color: rgb(108, 108, 108);
    cursor: pointer;
}

}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #e8c7fd, #e9b6e0 48%, #c3f8ff);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.btn-login,
.btn-register,
.link-btn {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(73, 3, 73);
}

.link-btn {
  background: none;
  color: white;
  .pageBooks {
    display:flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  } 
  
  .pageBook {
    height:250px;
  
  }
  .books-icons {
    width: 150px;
  
  }
  
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
  li {
    padding: 10px;
    width: 200px;
    max-width:250px;
    max-height: 350px;
  }
  
  .card {
     padding: 0.5rem;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #ccc;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  
  }
  
  .card > img {
    width: 80%;
    height: 80%;
  }
  .card h5 {  
    margin: 0;
    padding: 3px;
    font-size: 10px;
    width: 140px;
  }
  
  .card  h6 {
    font-weight: 100;
    padding: 3px;
    margin: 0;
    width: 140px;
  }
  
  .card  h4 {
    margin:0;
    padding: 3px;
    font-weight: 100;
    font-size: 10px;
    width: 140px;
  }
  text-decoration: underline;

}

.classicBtn {
  padding: 0.5rem 1.2rem;
  margin: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: rgb(4, 105, 131);
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}


.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: rgb(85, 167, 85);
  margin-left: 0.25rem;
}

.invalid {
  color: rgb(233, 66, 66);
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

div.message {
  color: rgb(255, 27, 27);
}



