.editForm {
  padding: 10px;
}
.editForm fieldset {
  padding: 1.7rem;
  width: 45%;
}
.editForm legend {
  color: green;
}
.editForm label {
  margin-left: 0.7rem;
}
.editForm input {
  line-height: 2rem;
  margin: 0.2rem 0.7rem;
  color: rgba(0, 0, 0, 0.685);
  width: 300px;
  margin-bottom: 1.2rem;
}
.editForm .editForm button {
  margin: 0.2rem 0.7rem;
  padding: 0.5rem;
  color: green;
}

.header-content {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-main-blue);
}
.header-content .logo a {
  line-height: 4rem;
  margin: 0 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-main-light);
}
.header-content .header-customer {
  display: flex;
  align-items: flex-end;
  margin-right: 0.5rem;
}
.header-content .header-customer button {
  border: none;
  align-items: center;
}
.header-content .header-customer .dropdown-trigger,
.header-content .header-customer .shopping-cart,
.header-content .header-customer .wish-list {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: var(--color-main-light);
  font-size: 0.8rem;
  padding-bottom: 0.7rem;
  padding-left: 0.8rem;
  background-color: var(--color-main-blue);
}
.header-content .header-customer .account_icon,
.header-content .header-customer .shopping-cart-icon,
.header-content .header-customer .wish-list-icon {
  font-size: 1.3rem;
  padding-bottom: 0.3rem;
}
@media screen and (max-width: 600px) {
  .header-content .header-customer .account_icon, .header-content .header-customer .wish-list-icon, .header-content .header-customer .shopping-cart-icon {
    padding-bottom: 0.7rem;
  }
}
.header-content .header-customer .dropdown {
  position: relative;
  cursor: pointer;
}
.header-content .header-customer .dropdown .auth {
  position: absolute;
  top: 110%;
  right: -50%;
  border-radius: 25px;
  z-index: 100;
}
.header-content .header-customer .dropdown .auth.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}
.header-content .header-customer .dropdown .auth.inactiv {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
}
.header-content .header-customer .dropdown .logout-btn {
  text-decoration: none;
  color: var(--color-main-blue);
  border: 2px solid var(--color-main-blue);
  padding: 0.7rem 2rem;
  background-color: var(--color-main-light);
}
.header-content .none {
  display: none;
}

.navbar {
  border-bottom: 1.5px solid rgb(186, 186, 186);
  display: flex;
}
.navbar a {
  font-size: 1rem;
  color: var(--color-main-blue-medium);
  line-height: 2rem;
  padding-right: 1.5rem;
  text-decoration: none;
}
.navbar a:hover {
  color: var(--color-main-blue);
}

.info {
  margin: 1.7rem;
  padding: 1.5rem;
  background-color: rgba(231, 228, 228, 0.871);
  color: rgb(21, 21, 21);
}
.info img {
  height: 170px;
}
.info .book {
  display: flex;
}
.info .content {
  margin-left: 1.3rem;
  width: 60%;
}
.info .title {
  display: flex;
  gap: 15px;
}
.info .description {
  height: 100px;
  overflow: scroll;
  margin: 0.7rem 0;
  padding: 0.7rem;
  border: 1px solid rgb(21, 121, 21);
}
.info .rest-info {
  margin-left: 1rem;
  padding-left: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #ccc;
}
.info button {
  padding: 0.7rem 1.4rem;
  margin: 0.5rem 0;
  margin-right: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  color: white;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #e8c7fd, #e9b6e0 48%, #c3f8ff);
}
.container .auth-form-container, .container .login-form, .container .register-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .container .auth-form-container {
    padding: 1.3rem 1rem;
    border: 1px solid white;
    border-radius: 10px;
  }
}
.container label {
  text-align: left;
  padding: 0.25rem 0;
}
.container input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
.container .btn-login, .container .btn-register, .container .link-btn {
  border: none;
  background-color: white;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(73, 3, 73);
}
.container .link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
.container .register-link, .container .login-link > p {
  padding-top: 1rem;
}

.carousel {
  margin-top: 1.2rem;
}
.carousel .container-corousel {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-template-rows: 1fr;
  grid-template-areas: "col1 col2";
}
.carousel .container-corousel .content {
  display: flex;
  flex-direction: column;
}
.carousel .slide1 {
  height: 500px;
  background: url("https://cdn.pixabay.com/photo/2020/06/29/06/03/woman-5351572_1280.png") no-repeat top;
  background-size: cover;
  background-position-y: 3%;
}
@media screen and (max-width: 600px) {
  .carousel .slide1 .container-corousel {
    background-position: center;
    background-size: cover;
  }
}
.carousel .slide1 .content-slide1 {
  margin-right: 4rem;
  grid-area: col2;
  justify-content: center;
  align-items: flex-end;
}
.carousel .slide2 {
  background: url("https://i.ibb.co/WHS2Xdw/flower-4985011-1920.png") no-repeat center;
  background-size: cover;
}
.carousel .slide2 .spring-books {
  margin: 0 3rem;
  grid-area: col1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "col1 col2 col3" "col4 col5 col6";
}
.carousel .slide2 .spring-books .spring-book1, .carousel .slide2 .spring-books .spring-book2, .carousel .slide2 .spring-books .spring-book3 {
  overflow: hidden;
  width: 150px;
  height: 225px;
  border-radius: 7px;
  box-shadow: var(--box-shadow-mai-brown);
  padding: 1rem;
  margin: 1rem 0;
}
.carousel .slide2 .spring-books .box {
  display: flex;
  justify-content: center;
}
.carousel .slide2 .spring-books .spring-book1 {
  grid-area: col1;
}
.carousel .slide2 .spring-books .spring-book2 {
  grid-area: col2;
}
.carousel .slide2 .spring-books .book-cover3 {
  grid-area: col3;
}
.carousel .slide2 .content-slide2 {
  grid-area: col2;
  justify-content: center;
  align-items: center;
  color: var(--color-main-light);
}
.carousel .slide2 .content-slide2 p {
  text-shadow: 3px 2px 4px rgba(175, 175, 175, 0.615);
  font-size: 1.2rem;
  width: 20rem;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.904);
}
@media screen and (max-width: 600px) {
  .carousel .slide2 .content-slide2 .carousel .container-corousel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "col1";
  }
  .carousel .slide2 .content-slide2 .carousel .container-corousel .content-slide2 {
    grid-area: col1;
  }
  .carousel .slide2 .content-slide2 .carousel .container-corousel .content-slide2 p {
    color: tomato;
  }
}

:root {
  --color-main-blue: #2F3754;
  --color-main-blue-medium: #2f3754d8;
  --color-main-blue-light: #9eacdd;
  --color-main-green: #B9CC4C;
  --color-main-light: #f2f4f8;
  --color-main-gray: #e6e0e0d8;
  --color-opasity-white: rgba(0, 0, 0, 0.177);
  --box-shadow-mai-brown: 2px 5px 10px rgba(65, 44, 25, 0.394);
  --color-main-light: #F2F4F8;
  --color-main-grey: #e6e0e0d8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.App {
  margin: 0 8%;
  min-height: 100vh;
}
.App body {
  background-color: rgb(245, 245, 245);
  color: rgb(50, 50, 50);
}
.App .btn {
  padding: 0.5rem 2.5rem;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  margin-top: 1rem;
  background-color: var(--color-main-green);
  border: none;
  border-radius: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #e8c7fd, #e9b6e0 48%, #c3f8ff);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}
label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.btn-login,
.btn-register,
.link-btn {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(73, 3, 73);
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.classicBtn {
  padding: 0.5rem 1.2rem;
  margin: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: rgb(4, 105, 131);
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: rgb(85, 167, 85);
  margin-left: 0.25rem;
}

.invalid {
  color: rgb(233, 66, 66);
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

div.message {
  color: rgb(255, 27, 27);
}/*# sourceMappingURL=App.css.map */